<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="default.aspx">       
      </forms>      
    </authentication>
    <customErrors mode="On">
      <error statusCode="403" redirect ="NoAccess.aspx"/>
      <error statusCode="404" redirect="NotFound.aspx"/>
    </customErrors>
    <authorization>
      <allow users="?"/>
    </authorization>
	</system.web>
</configuration>
