<?xml version="1.0"?>
<configuration>
	<system.web>
		<siteMap>
			<providers>
				<add name="Provider1" type="Tipo"/>
			</providers>
		</siteMap>
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="default.aspx">
			</forms>
		</authentication>
		<customErrors mode="Off" defaultRedirect="GenericError.aspx">
			<error statusCode="403" redirect="NoAccess.aspx"/>
			<error statusCode="404" redirect="NotFound.aspx"/>
		</customErrors>
		<authorization>
			<!--<deny users="?"/>-->
		</authorization>
	</system.web>
</configuration>
