<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="servidor" value="8+HKqL7XpXGJ9/FgAKzS8A=="/>
    <add key="usuario" value="7OK3Vt/VTDc="/>
    <add key="clave" value="DwdkujIxvZ0="/>
    <add key="basedatos" value="pEbhOrC7QTwC3JxZ0X0MAQ=="/>
  </appSettings>
</configuration>
